.point-cloud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
  background: transparent;
}

.point-cloud canvas {
  display: block;
  width: 100%;
  height: 100%;
}
